<%- include('partials/head') %>
<body>
    <%- include('partials/navbar') %>
    <h1>Home Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus totam molestias porro mollitia perferendis quam quos voluptatem modi tempora eum esse enim quis nihil, nostrum ea laboriosam accusamus sint quo?</p>
    <p><%= 'Hello world'.toUpperCase() %></p>
</body>
</html>